@import "../../src/common.css";

#controls {
  position: absolute;
  top: 24px;
  left: 24px;
}

#controls > label {
  display: flex;
  gap: 8px;
}

body {
  margin: 0;
  height: 100vh;
  height: 100dvh;
}

canvas {
  display: block;
  height: 100%;
  width: 100%;
  cursor: crosshair;
}
