<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Nate Stringham COSC 456</title>
    <link rel="stylesheet" href="src/index.css" />
  </head>
  <body>
    <h1>Nate Stringham COSC 456</h1>
    <nav>
      <% for (const folder in pages) { %>
      <h2><%= folder %></h2>
      <ul>
        <% for (const page of pages[folder]) { %>
        <li><a href="<%= `/${folder}/${page}/` %>"><%= page.replaceAll("-", " ") %></a></li>
        <% } %>
      </ul>
      <% } %>
    </nav>
  </body>
</html>
